.qr{display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}


.qr-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 2;
}

.entry-main {
    margin: 100px 90px 64px 90px;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    position: relative;
}
    .qr-wrapper:before {
        position: absolute;
        z-index: -1;
        background-color: #009688;
        width: 100%;
        height: 222px;
        content: '';
        top: 0;
        left: 0;
    }

    .qr-window {
        background-color: #FFF;
        width: 870px;
        border-radius: 3px;
        -webkit-flex: none;
        flex: none;
        z-index: 2;
        overflow: hidden;
    }