<router-outlet></router-outlet>
<div class="container  qr-wrapper">



<div  class="qr-window" style="margin: 0 auto;">

    <div class="entry-main">
        <h2 class="text-center">WHATSAPP WEB</h2>
<ngx-qrcode  class="qr" [qrc-element-type]="elementType" [qrc-value] = "value">
    </ngx-qrcode>
    <h3 class="text-center">Escanear el Codigo</h3>
</div>
</div>
</div>