<div class="menuInicial">
    
  </div>
<div id="total">
  <div id="menu">
    <div class="list-group app-chats">
      <div class="btn-group" role="group" aria-label="Basic example" *ngFor="let chat of chats">
        <button (click)="loadChat(chat)" type="button" class="list-group-item btn " style="min-width:100%;padding:9px;">
        <div class="container" style="width:100%;margin: 0px;  ">
          <div class="row">
         
              <div class="avatar"><img [src]="chat.foto" draggable="false" />
                <strong>{{chat.nombre}} {{chat.apellido}}</strong>
              
              </div>
                     
              <div style="color: black; font-size:1em ;top:0px ; right:0px; position:absolute">{{chat.fecha}}</div>
           
              
              
       
          </div>
        </div>
        <div ><p style="color: black; font-size:1em; margin-left:40px">{{chat.mensaje}}</p></div>

      </button>
      </div>
    </div>
  </div>
  <div id="contenido">
    <div *ngIf="inicial">

      <h3>Hello seleccione un chat para iniciar</h3>

    </div>

    <div class="content" *ngIf="listarchat">
      <div class="menu">
        <div class="back"><i class="fa fa-chevron-left"></i> <img [src]="fotoUser" draggable="false" /></div>
        <div class="name">{{toUserName}}</div>
        <div class="last">18:09</div>
      </div>


      <ol class="chat" *ngFor="let msg of msgList">



        <li *ngIf="msg.user_id == userId" class="other">

          <div class="msg">
            <span>{{msg.nombre}}</span>
            <p>{{msg.mensaje}}</p>
            <time>{{msg.fecha}}</time>
          </div>
        </li>

        <li *ngIf="msg.user_id == toUserId" class="self">

          <div class="msg">
            <span>{{msg.nombre}}</span>
            <p>{{msg.mensaje}}</p>
            <time>{{msg.fecha}}</time>
          </div>
        </li>
      </ol>
      <input class="textarea" type="text" placeholder="Type here!" />



    </div>


  </div>
</div>
