<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>
      <p>
        {{other.nombre}}
      </p>
      <small>Online</small>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
            <span color="primary" showWhen="ios">
             CHATS
            </span>
            <ion-icon name="arrow-back" showWhen="android,windows"></ion-icon>
          </button>
    </ion-buttons>


    <ion-avatar id="pic" item-left (click)="openAnotherProfile(other)">
      <img [src]="other.foto" />
    </ion-avatar>


  </ion-navbar>

</ion-header>


<ion-content>

  <div class="message-wrap">

    <div *ngFor="let msg of msgList" class="message" [class.left]=" msg.user_id === toUserId " [class.right]=" msg.user_id === userId ">
      <!--img class="user-img" [src]="msg.userImgUrl" alt="" src=""-->
      <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{msg.nameUser}}&nbsp;&nbsp;&nbsp;{{msg.fecha}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.mensaje}}</p>
        </div>
      </div>
    </div>

  </div>

</ion-content>

<chatbox></chatbox>
