<!--
  Generated template for the StateDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Estado</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

    <ion-grid>
   
      <ion-row style="margin-top:50px;">
        <ion-col col-12> <strong>Estado actual</strong> </ion-col>
        <ion-col col-12 class="borders-col" style="padding:10px;">
            <button ion-item [navPush]="modifyStatePage" [navParams]="estado">
              {{estado}}
          </button>
          </ion-col>
      </ion-row>


  </ion-grid>



</ion-content>
