<ion-footer>
    
    <ion-item class="textarea-wrapper" no-padding>
        <ion-icon item-left name="add"></ion-icon>
        <ion-textarea type="text"   #chat_input [(ngModel)]="msj" placeholder="Escribe .." (keyup.enter)="send()"></ion-textarea>
        <ion-icon item-right name="send"  (click)="sendbtn()"></ion-icon>
        <ion-icon item-right name="camera"  (click)="foto()"></ion-icon>
        <ion-icon item-right name="mic" (mousedown)="startRecording($event)" ></ion-icon>
    </ion-item>
</ion-footer>
