<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
   
  
  </div>
  <div padding>
    <form (submit)="login()">
    <ion-list>

      <ion-item>
        <ion-label fixed>{{ 'Username' | translate }}</ion-label>
        <ion-input type="username" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>
   
     
  
    </ion-list>
  </form>
  </div>
</ion-content>
