<ion-header>
  
    <ion-navbar>
      <ion-title>Editar Chats</ion-title>
      <ion-buttons start>
        <button ion-button (click)="cancel()">
          <span color="primary" showWhen="ios">
           OK
          </span>
        </button>
      </ion-buttons>
    
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
  
      <ion-grid>
        
          <ion-list>
                  <ion-row *ngFor="let item of currentItems">
                      <ion-col col-1>
                          <ion-checkbox  checked="false" (ionChange)="datachanged($event,item.id)" ></ion-checkbox>
                          
                      </ion-col>
                      <ion-col col-11>
                          <div ion-item (click)="openItem(item)">
                              
                              
                               <ion-avatar item-start>
                                 <img [src]="item.foto" />
                               </ion-avatar>
                               <h2>{{item.nombre}} {{item.apellido}}</h2>
                               <p>{{item.mensaje}}</p>
                               <ion-note item-end >{{item.fecha}}</ion-note>
                              </div>
                      </ion-col>
                    </ion-row>
    
            </ion-list>
  
        </ion-grid>
     
  </ion-content>
  <ion-footer> 
    <ion-navbar>
      <ion-title>  
          <ion-buttons start>
              <button ion-button (click)="delete()">
                <span color="primary" showWhen="ios">
                 Eliminar
                </span>
              </button>
            </ion-buttons>        </ion-title>
   
    
    </ion-navbar></ion-footer>
      