.perfil{
    padding: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 h3{
     padding: 1em;

}

.list-group{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
}

.list-group

.list-group-item{
    height: 100%;

}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{

background-color: #44BBFF;

}

.app-chats{
    width: 100%;
    background-color: red;

}
