<div class="list-group app-chats">
    <div class="btn-group" role="group" aria-label="Basic example" *ngFor="let chat of chats" >
      <button (click)="loadComponent(chat)" type="button" [class.active]="selected == 'home'" class="list-group-item btn btn-secondary">
        <div class="container" style="width:10%;">
          <div class="row">
            <div class="col-md-2">
              <div class="">
                <img style="width:30%;" src="{{chat.foto}}" alt="">
              </div>
            </div>
            <div class="col-md-10 d-flex justify-content-center">
              <h2 style="color: black; font-size:1em;">{{chat.nombre}} {{chat.apellido}}</h2>
              <p style="color: black; font-size:1em;">{{chat.mensaje}}</p>
              <div style="color: black; font-size:1em;">{{chat.fecha}}</div>
            </div>
          </div>
        </div>


      </button>
    </div>
</div>
