<ion-header>

  <ion-navbar>
    <ion-title>Nuevo chat</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
         Cancelar
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content>
 
 
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.foto" />
      </ion-avatar>
      <h2>{{item.nombre}} {{item.apellido}}</h2>
      <p>{{item.estado}}</p>
      <ion-note item-end >MOVIL</ion-note>      
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list>



</ion-content>
