detail-contact-profile{

  /*  .text .toolbar-title-ios {
        position: absolute;
        margin-top: -10px;
        color:white;
        font-size:2em;
        align-items: left;
        
    }

    ion-title{
        -webkit-box-align:start;
    }

    .opacity{
        background-color: rgba(0,0,0,0.6);
    }*/

}
