<!--
  Generated template for the ContactProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


      <ion-grid style="">
        <ion-row style="align-items:center;">

          <ion-col col-12>
            <ion-avatar item-start>
              <img    [src]="contact.foto" />
              <div class="opacity">
                
              </div>
            </ion-avatar>
            </ion-col> 
        </ion-row>

        <ion-row style="margin-top:2px;">
          <ion-col col-12 style="margin-left:5px; padding-top:1em; font-size:1.5em;"> <strong> {{contact.nombre}} {{contact.apellido}}</strong> </ion-col>       
        </ion-row>

      <ion-row style="margin-top:10px;">
          <ion-row>
        <ion-col col-12 style="margin-left:5px"> <strong>NÚMERO DE TELÉFONO</strong> </ion-col>
        <ion-col col-12 style="margin-left:5px" class="borders-col">{{contact.telefono}}</ion-col>
      </ion-row>
       
      </ion-row>

      <ion-row style="margin-top:10px;">
        <ion-col col-12 style="margin-left:5px"> <strong>ESTADO</strong> </ion-col>
        <ion-col col-12 class="borders-col" style="padding:10px; margin-left:5px;">
             {{contact.estado}}
      </ion-col>

  </ion-row>

     <ion-row style="margin-top:20px">
      <ion-col col-12>
        <button ion-button block *ngIf="isABlockedUser == 'false'" (click)="blockUser()" >Bloquear</button>
        <button ion-button block *ngIf="isABlockedUser == 'true'" (click)="blockUser()" >Desbloquear</button>
      </ion-col>
    </ion-row>

    </ion-grid>
  



</ion-content>
