/* You can add global styles to this file, and also import other style files */
app-root{
    width: 100%;
    height: 100% !important;
    background-color: blue;
}

html, body {
    height: 100vh;
    margin:0; 
    padding:0;
    overflow: hidden;
}