
<div class="content">
  <div class="menu">
            <div class="back"><i class="fa fa-chevron-left"></i> <img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
            <div class="name">{{toUserName}}</div>
            <div class="last">18:09</div>
</div>


    <ol class="chat" *ngFor="let msg of msgList">

 
  
    <li *ngIf="msg.user_id == userId" class="other" >
        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
      <div class="msg">
        <p>{{msg.mensaje}}</p>
        <time>{{msg.fecha}}</time>
      </div>
    </li>
    <li *ngIf="msg.user_id != toUserId" class="self">
        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
      <div class="msg">
        <p>{{msg.mensaje}}</p>
        <time>{{msg.fecha}}</time>
      </div>
    </li>
    </ol>
       <input class="textarea" type="text" placeholder="Type here!"/>

   

</div>


