<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>Perfil</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
  
    <ion-list>
      <button ion-item [navPush]="detailProfile" [navParams]="id">
        <ion-avatar item-start>
               <ion-avatar item-start>
            <img [src]=picture />
          </ion-avatar>
        </ion-avatar>
        <h2>{{name}} {{lastname}}</h2>
        <p>{{estado}}</p>
        <ion-note item-end><ion-icon name="eye"></ion-icon></ion-note>
      </button>
    </ion-list>
    
    <button ion-button menuClose (click)="cerrar()"  outline block  > Cerrar Sesión </button>
    <button ion-button  (click)="web()"  outline block  > WhatsApp Web &nbsp;&nbsp; <ion-icon name="barcode"></ion-icon>  </button>
    {{codedata}}
  </ion-content>
  