<!--
  Generated template for the ModifyStatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Modificar Estado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

 <ion-grid>
    <ion-row style="padding:10px;">
      <ion-col col-10>
        <ion-item>
          <ion-input type="text" [(ngModel)]="estado"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only (click)="toggled = !toggled" 
                  [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'bottom'"
                        (emojiPickerSelect)="changeState($event)">
        <ion-icon  name="md-happy"></ion-icon>
        </button>  
      </ion-col>
    </ion-row>

    <ion-row style="margin-top:400px;">
      <ion-col col-6>
        <button ion-button block>Cancel</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block (click)="saveChanges()" >Ok</button>
      </ion-col>
    </ion-row>


  </ion-grid>



 



</ion-content>
