<ion-header>

  <ion-navbar>
    <ion-title> Editar Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-avatar id="mypic" item-start>
    <img [src]="picture" />
  </ion-avatar>

  <ion-grid>


    <ion-row style="margin-top:50px;">
      <ion-col class="borders-col" col-12>
        <h2>{{name}} {{lastname}}</h2>
      </ion-col>

    </ion-row>

    <ion-row style="margin-top:50px;">
      <ion-col col-12> <strong>NÚMERO DE TELÉFONO</strong> </ion-col>
      <ion-col col-12 class="borders-col">{{cellphone}}</ion-col>
    </ion-row>

    <ion-row style="margin-top:50px;">
      <ion-col col-12> <strong>ESTADO</strong> </ion-col>
      <ion-col col-12 class="borders-col" style="padding:10px;">
        <button ion-item [navPush]="stateDetailPage" [navParams]="estado">
              {{estado}}
          </button>
      </ion-col>
    </ion-row>


  </ion-grid>



</ion-content>
