page-detail-profile {

    #mypic img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto;
    }
    .borders-col{
        border-bottom: 0.55px solid #c8c7cc;
        border-top: 0.55px solid #c8c7cc;
        margin: 0;
        padding: 20px;
    }
    h2{
        margin: 0rem;
    }
    .item-ios.item-block .item-inner{
        border:0;
    }
    .item-ios{
        padding-left: 0;
    }

}
