<ion-header>
  
    <ion-navbar>
      <ion-title>Chats</ion-title>
      <ion-buttons start>
        <button ion-button (click)="editar()">
          <span color="primary" showWhen="ios">
           Editar
          </span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
      
      
      <ion-buttons end>
         
        <button ion-button  icon-only (click)="addItem()">
            <ion-icon ios="ios-create-outline" md="md-create"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
  
    <ion-list>
      <ion-item-sliding *ngFor="let item of currentItems2">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img [src]="item.foto" />
          </ion-avatar>
          <div *ngIf="item.token==true"><h2>{{item.nombre}} {{item.apellido}}</h2></div>
          <div *ngIf="item.token==false"><h2>{{item.telefono}}</h2></div>
          <p>{{item.mensaje}}</p>
          <ion-note item-end >{{item.fecha}}</ion-note>
        </button>

      </ion-item-sliding>
    </ion-list>
  </ion-content>
  